h1 {
    width: 100px;
}

header {
    background-color: rgb(250, 250, 250);
    padding: 8px 16px;
    border-bottom: 1px solid rgb(222, 222, 222);
    box-shadow: 0 0 8px 0 rgb(222, 222, 222);
    min-width: 960px;
}

nav {
    display: flex;
    justify-content: space-between;

}

.nav-links,
.nav-buttons {
    display: flex;
}

/* When styling nav links - space the li's & style the text on the a tag */
li {
    margin: 0 12px;
    line-height: 43px;
}

a {
    border: 1px solid rgb(212, 211, 211);
    padding: 3px 16px;
    background-color: white;
    border-radius: 4px;
    color: grey;
    text-decoration: none;
}

a:hover {
    box-shadow: 0 0 5px 2px rgb(65, 114, 348);
}